* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  background-color: grey;
}

.app-container {
  background-color: white;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/*beginning of top page banner*/
.header-banner {
  display: in-line block;
  width: 100%;
  background-color: #383838;
  font-size: 0;
}
.header-banner img {
  height: 50px;
  vertical-align: middle;
}
.header-banner #logo {
  margin: 0;
  padding-left: 20px;
}
.header-banner #label {
  margin-right: 0;
}

/*beginning of buttons*/
.buttons {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  background: lightgrey;
  height: 30px;
}
.buttons button {
  background-color: salmon;
  padding-left: 5px;
  padding-top: 7px;
  margin-left: 5px;
}
.buttons a {
  text-decoration: none;
}
.buttons a button {
  color: blue;
}
/*usage of the hover command*/
.buttons button:hover  {
  background-color: blue;
  color:white;
}


/*left side container column*/
.text-container {
  width: 60%;
  margin-left: 30px;
  margin-right: 0;
  display: inline-block;
}

/*campus div in a div*/
#campus-link div h2 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.campus-text {
  width: 40%;
  display: inline-block;
}
.campus-text a:hover {
  color: red;
}
#campus-image {
  width:58%;
  display: inline-block;
  vertical-align: top;
}
#campus-image img {
  width: 100%;
  display: inline-block;
  padding-left: 10px;
  padding-top: 20px;
}

/*glassell school div in a div*/
.glassell-school img {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
.glassell-school p {
  width: 58%;
  display: inline-block;
  text-align: left;
  padding-left: 8px;
  margin-top: 0;
}

/*beginning of upcoming events*/
.upcoming-events-container {
  width: 30%;
  height: 360px;
  margin-left: 20px;
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
}

/*setting up main div for right side box*/
.upcoming-events-container  h3 {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 3px;
}
.pic1 {
  display: inline-block;
  width: 30%;
  margin-left: 4px;
}
.pic1-text {
  display: inline-block;
  width: 65%;
  margin-top:  0px;
  margin-left: 3px;
  font-size: .8em;
  vertical-align: top;
}
.pic1-text p{
  margin-top: 0;
}

.dotted-line {
  height: 3px;
  border-top: 2px dotted lightgrey;
  margin-top: 3px;
}

.pic2 {
  display: inline-block;
  width: 30%;
  margin-left: 4px;
  margin-top: 8px;
}
.pic2-text {
  display: inline-block;
  width: 65%;
  margin-top:  0px;
  margin-left: 3px;
  font-size: .8em;
  vertical-align: top;
}
.pic3 {
  display: inline-block;
  width: 30%;
  margin-left: 4px;
  margin-top: 8px;
}
.pic3-text {
  display: inline-block;
  width: 65%;
  margin-top:  0px;
  margin-left: 3px;
  font-size: .8em;
  vertical-align: top;
}

/*new div for view all button*/
.view-all {
  text-align: right;
  padding-right: 10px;
}
.view-all a {
  text-decoration: none;
  color: blue;
}
.view-all a:hover {
  color: red;
}

/*set up for footer div*/
.footer {
  height: 50px;
  width: 90%;
  border-top: 1px solid lightgrey;
  margin: 20px auto;
}
.footer ul li {
  list-style: none;
  display: inline;
  padding-right: 10px;
  font-size: .6em;
}
.footer ul li span {
  color:red;
}
.newsletter-link a{
  color:black;
  text-decoration: none;
}
.profile-link a {
  color:black;
  text-decoration: none;
}
/*hover for footer links*/
.newsletter-link a:hover {
  color:blue;
}
.profile-link a:hover {
  color:blue;
}

/*setup for fixed box*/
.ticket-box {
  position: fixed;
  bottom: 10%;
  right: 200px;
  background: #3a539b;
  width: 25%;
}
.ticket-box input {
  width: 80%;
  padding: 0 10px 0 10px;
}
.ticket-box form {
  padding: 0 20px 20px 20px;
}
.ticket-box h4 {
  color: white;
  text-align: center;
}
.ticket-box-button {
  background-color: blue;
}
.ticket-box-button a {
  color: white;
}
.ticket-box-button:hover {
  background-color: red;
}
.ticket-box-button a:hover {
  color: blue;
}
.ticket-box i {
  margin-right: 20px;
  font-size: 1.5em;
}
